@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, yellow, #ff5acd);
}
.card{
    position: relative;
    width: 350px;
    height: 190px;
    margin: auto;
    background-color:aquamarine;
    border-radius: 20px;
}